//顏色---------------------
$white: #ffffff;
$light-blue: #edfbff;
$green: #009583;
$dark-greenBlue: #00829b;
$greenBlue: #00829b50;
$orange: #f55a08;
$gray: #0000005d;
$gray1: #00000029;
$light-gray: #d5d5d5;

//font
$ch-font: Arial, Helvetica, sans-serif;

//字型--------------------
$body-font: $ch-font;

//背景
$header__shadow: $gray;
$title__font-color: $dark-greenBlue;
$contentMain__bg: $white;
$box-shadow__color: $gray1;
$dashed__color: $light-gray;
$stepContainer__bg: $light-blue;
$subTitle__font-color: $orange;
$gototop-btn: $greenBlue;
